.section-title {
  display: flex;
  max-width: 768px;
  justify-content: center;
  margin: 3rem auto;
  padding: 1rem;
  text-align: center;
}

.section-title h1 {
  font-family: "Jost", sans-serif;
  font-size: 3.1rem;
  line-height: 3.2rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: #00224f;
}

.section-title h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #39cabb;
}

.section-title p {
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .section-title h1 {
    font-size: 2.5rem;
    line-height: 2.7rem;
  }
  .section-title h4 {
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #39cabb;
  }
}
