.image-column {
  background-image: url(https://i.ibb.co/L98jd9x/faq-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: all 1s ease;
  animation: zoom-fade 5s infinite linear;
}

@keyframes zoom-fade {
  0% {
    background-size: 100%;
  }

  50% {
    background-size: 90%;
  }
  100% {
    background-size: 100%;
  }
}

.accordion-item {
  margin: 2rem auto;
  border-radius: 1rem !important;
  overflow: hidden;
  box-shadow: 0 0 10px 3px #2223;
}

.accordion-header button {
  border-radius: 1rem;
  padding: 2rem;
  color: #00224f;
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  color: #39cabb;
  background-color: #d9ebf77e;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
