.details-heading {
  overflow: hidden;
  height: 400px;
  background-color: #39cabb;
  text-align: center;
}

.details {
  padding-bottom: 5rem;
}
.details-img {
  margin-top: -300px;
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 992px) {
  .details-img {
    margin-top: -50px;
  }
}
