img {
  max-width: 100%;
}
p {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: gray;
  font-weight: 400;
  margin: 0px;
  transition: all 500ms ease;
}

.title {
  font-family: "Jost", sans-serif;
  font-size: 50px;
  line-height: 55px;
  font-weight: 900;
  margin-bottom: 24px;
}

.btn-main {
  color: #fff;
  background-color: #39cabb;
  border-color: #39cabb;
}
.btn-main:hover {
  color: #fff;
  background-color: #00224f;
}

.text-main {
  color: #39cabb;
}
.text-second {
  color: #00224f;
}

.bg-main {
  background-color: #39cabb;
}
