img {
  max-width: 100%;
}
p {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: gray;
  font-weight: 400;
  margin: 0px;
  transition: all 500ms ease;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: #00224f;
  margin: 0px;
  transition: all 500ms ease;
}

.title {
  font-family: "Jost", sans-serif;
  font-size: 50px;
  line-height: 55px;
  font-weight: 900;
  margin-bottom: 24px;
}

.btn-main {
  color: #fff;
  background-color: #39cabb;
  border-color: #39cabb;
  padding: 0.5rem 0.8rem;
  transition: all 0.4s ease;
}
.btn-main:hover {
  color: #fff;
  background-color: #453f85;
}

.text-main {
  color: #39cabb;
}
.text-second {
  color: #00224f;
}

.bg-main {
  background-color: #39cabb;
}
