.appointment-heading {
  height: 300px;
  background-color: #453f85;
  text-align: center;
}

.appointment-panel {
  box-shadow: 0 0 1rem 5px #0005;
  background-color: #fff;
  padding: 1.5rem;
  margin-top: -200px;
  margin-bottom: 5rem;
  border-radius: 1rem;
}

.appointment {
  padding-right: 1.5rem;
}
